@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(./fonts/CircularStd-Black.ttf) format('truetype');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'CircularLight';
  src: local('CircularLight'), url(./fonts/CircularStd-Medium.ttf) format('truetype');
}




body {
  margin: 0;
  font-family: CircularLight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.custom-crumb a {
      /* Navigasjon desktop */

      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;  
      color: #8500D7;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 0px 8px;
}

.bedclass {
  --bs-breadcrumb-divider: '>';

}


.subtitle {
  font-family: CircularLight;
  font-style: italic;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

/* Purple is closely associated with violet. In optics, purple and violet refer to colors that look similar, but purples are mixtures of red and blue or violet light. */
.image-cover {
  position: absolute;
  top: 20%;
  left:-50%;
  /* transform: translate(-50%, -50%); */
  align-items: center;
  padding: 48px;

  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(145, 158, 167, 0.32);
  border-radius: 8px 0px 0px 8px;
 
}

.image-cover blockquote {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  /* Secondary */

  color: #FF007A;
}

.img-title {
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */


/* Main */

color: #8500D7;
}

.img-date {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* dark grey */

color: #707070;
}



